::-webkit-scrollbar {
    width: 15px;
}
    
::-webkit-scrollbar-track {
    border-radius: .25rem;
    background: #222222;
}
    
::-webkit-scrollbar-thumb {
    background: #666666;
    border-radius: 0.75rem;
    border: 3px solid #222222;
}
    
::-webkit-scrollbar-thumb:hover {
    background: #666666;
}
